@using TheBlogProject.Services

@inject IImageService imageService
@model IEnumerable<TheBlogProject.Models.Blog>

@{
    ViewData["Title"] = "Home";
}

@foreach (var blog in Model)
{
    @* 
<div class="city-legend">
    <h4>Cities Featured:</h4>
    <ul>
        @foreach (var post in blog.Posts)
        {
            <li><a href="@Url.Action("Details", "Posts", new { id = post.Id })">@post.Title</a></li>
        }
    </ul>
</div> *@
    <div class="blog">
        <h2 class="country-title" style="text-align: center;">
            @blog.Name
        </h2>
            <img src="@imageService.DecodeImage(blog.ImageData, blog.ContentType)" />
        <div class="blog-description">
            <p>@Html.Raw(blog.Description)</p>
        </div>

        <div class="post-list">
            <h3>Cities:</h3>
            @foreach (var post in blog.Posts)
            {
                <div class="post">
                    <h4>@post.Title</h4>
                    <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" />
                    <p>@Html.Raw(post.Abstract)</p>
                </div>
            }
        </div>
    </div>
}