@using TheBlogProject.Services

@inject IImageService imageService
@model IEnumerable<TheBlogProject.Models.Blog>

@{
    ViewData["Title"] = "Home";
}

<div class="blogHeader">
    <h1>Welcome to my travel blog!</h1>
    <p>This is where I keep track of places that I've been to, lived in, or just visited. You'll see a header that will list each country and then there will be sections that list each city I've visited.</p>
</div>

@foreach (var blog in Model)
{

    @* <div class="city-legend">
    <h4>Cities Featured:</h4>
    <ul>
        @foreach (var post in blog.Posts)
        {
            <li><a href="@Url.Action("Details", "Posts", new { id = post.Id })">@post.Title</a></li>
        }
    </ul>
</div>  *@
    <div class="blog">
        <!-- Blog Banner with Name Overlaid -->
        <div class="blog-banner">
            <a asp-controller="Blogs" asp-action="BlogIndex" asp-route-id="@blog.Id">
                <div class="banner-image-container" style="background-image: url('@imageService.DecodeImage(blog.ImageData, blog.ContentType)');">
                    <!-- Country Title and Description -->
                    <div class="country-title">
                        <h2>@blog.Name</h2>
                        <p class="blog-description">@Html.Raw(blog.Description)</p>
                    </div>

                    <!-- Blog Metadata -->
                    <div class="blog-meta">
                        <p>Author: @blog.BlogUser.FullName</p>
                        <p>Created: @blog.Created.ToString("dd MMM yyyy")</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- Blog Posts Section -->
        <div class="post-list">
            <h3>Cities:</h3>
            <div class="post-cards">
                @foreach (var post in blog.Posts)
                {
                    <div class="post-card">
                        <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@post.Id">
                            <div class="post-image-container">
                                <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" alt="Post Image" class="post-image" />
                            </div>
                            <div class="post-content">
                                <h4>@post.Title</h4>
                                <p>@Html.Raw(post.Abstract)</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

}