@using TheBlogProject.Services
@using TheBlogProject.Enums

@inject IImageService imageService
@model IEnumerable<TheBlogProject.Models.Blog>

@{
    ViewData["Title"] = "Home";
}

<div class="blogHeader">
    <div class="row d-flex align-items-center">
        <div class="col-md-8">
            <img src="/images/bannerImage.jpg" class="img-fluid" alt="Placeholder Image" />
        </div>
        <div class="blogHeaderText col-md-4">
            <h1>Our Life in Travel</h1>
            <p>
                This is where I'm trying to keep track of places that we've been to, lived in, and things we've done.
                I've never kept track of places, sights, or things we've done very precicley. I'm hoping this keeps me more accountable
                of all of that so in the future my wife and I will have this to look back on.
                If this helps inspire you, or give you advice, that's even better.
            </p>
            <hr />
            <small><i>It's the people you meet along the way that make the journey special</i></small>
        </div>
    </div>
</div>


@foreach (var blog in Model)
{
@* <div class="city-legend">
        <h4>Cities Featured:</h4>
        <ul>
            @foreach (var post in blog.Posts)
            {
                <li><a href="@Url.Action("Details", "Posts", new { id = post.Id })">@post.Title</a></li>
            }
        </ul>
    </div>  *@
    <div class="blog">
        <!-- Blog Banner with Name Overlaid -->
        <div class="blog-banner">
            <a asp-controller="Blogs" asp-action="Details" asp-route-slug="@blog.Slug">
                <div class="banner-image-container" style="background-image: url('@imageService.DecodeImage(blog.ImageData, blog.ContentType)');">
                    <!-- Country Title and Description -->
                    <div class="country-title">
                        <h2>@blog.Name</h2>
                        <p class="blog-description">@Html.Raw(blog.Description)</p>
                    </div>

                    <!-- Blog Metadata -->
                    <div class="blog-meta">
                        <p>Author: @blog.BlogUser.FullName</p>
                        <p>Created: @blog.Created.ToString("dd MMM yyyy")</p>
                    </div>
                </div>
            </a>
        </div>
        

        <!-- Blog Posts Section -->
        <div class="post-list">
            <h3>Cities & Places We've Been To</h3>
            <div class="post-cards">
                @foreach (var post in blog.Posts)
                {
                    @if (post.ReadyStatus.ToString() == "PreviewReady" && (User.IsInRole(BlogRoles.Moderator.ToString()) || User.IsInRole(BlogRoles.Administrator.ToString())))
                    {
                        <div class="post-card">
                            <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                                <div class="post-image-container">
                                    <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" alt="Post Image" class="post-image" />
                                </div>
                                <div class="post-content">
                                    <h4>@post.Title</h4>
                                    <p>@Html.Raw(post.Abstract)</p>
                                </div>
                            </a>
                        </div>
                    }
                    @if (post.ReadyStatus.ToString() == "ProductionReady")
                    {
                        <div class="post-card">
                            <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">
                                <div class="post-image-container">
                                    <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" alt="Post Image" class="post-image" />
                                </div>
                                <div class="post-content">
                                    <h4>@post.Title</h4>
                                    <p>@Html.Raw(post.Abstract)</p>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}